.about {
    padding-bottom: 2rem;

    &-bio-image {
        background:
            linear-gradient(to right, rgba($primary-color, .9), rgba($primary-color, .3)), url(img/model-1.jpg) center top;
        background-size: cover;
        height: 50vh;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &-bio
    {
        width: 80%;
        text-align: center;
        
        h1 
        {
            padding-bottom: 1rem;
        }
        p 
        {
            padding-bottom: 2rem;
        }
    }
    .jobs
    {
        width:60vw;
        margin:2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        &-job
        {
            padding:.5rem;
            background-color: lighten($primary-color, 10%);
            border-bottom: 5px solid $secondary-color;

            h2,h3 
            {
                margin:.5rem 0;
            }
            h6 
            {
                margin:.3rem 0;
            }
        }
    }

    .social-icon
    {
        display: flex;
        flex-direction: column;
    }
    footer 
    {
        transform:rotate(90deg) translate(-3rem,-5rem);
    }
}