$background: aqua;
$background1: rgb(0, 255, 0);

$font-w: (
    "small":10px,
    "medium":20px,
    "large":30px
);

$font-weight: (
    "bold":900,
    "medium":700,
    "light":500
);
$font-size: (
    "small":10px,
    "medium":20px,
    "large":30px
);
$part-height: (
    "small":100px,
    "medium":150px,
    "large":250px
);
$color: purple;
$color1: rgb(255, 36, 255);
$part-1-color: red;
$part-2-color: blue;
$box-shadow: (
    "first":10px,
    "second":20px,
    "third":30px
);